parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkAlwaysTrueCheckTypeFunctionCall: true
    reportMaybes: true
    tipsOfTheDay: false